{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:eslint-comments/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/function-component-definition": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }], // for Redux Toolkit (which uses Immer)
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**/*.js",
          "config-overrides.js",
          "src/setupTests.ts",
          "src/components/**/*.stories.tsx",
          "src/**/*.test.{ts,tsx}"
        ]
      }
    ],
    "prettier/prettier": "off",
    "import/no-duplicates": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "no-nested-ternary": "off",
    "@typescript-eslint/naming-convention": "off",
    "no-underscore-dangle": "off",
    "prefer-const": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-continue": "off"
  }
}
