a {
  text-decoration: none;
  color: rgb(27, 49, 173);
}

div {
  border: none;
}

.player-container {
  .stats {
    border: 2px solid pink;
    padding: 3px;
    border-radius: 5px;
    width: max-content;
  }
}